In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Column names
cols = (
    ["unit_id", "cycle"] +
    [f"op{i}" for i in range(1, 4)] +
    [f"s{i}" for i in range(1, 22)]
)

df = pd.read_csv(
    "../data/CMAPSSData/train_FD001.txt",
    sep='\\s+',
    header=None,
    names=cols
)

df.head(10)

C:\Users\Ayush\AppData\Local\Temp\ipykernel_19816\16484467.py:12: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(

,unit_id,cycle,op1,op2,op3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
5,1,6,-0.0043,-0.0001,100.0,518.67,642.10,1584.47,1398.37,14.62,...,521.68,2388.03,8132.85,8.4108,0.03,391,2388,100.0,38.98,23.3669
6,1,7,0.0010,0.0001,100.0,518.67,642.48,1592.32,1397.77,14.62,...,522.32,2388.03,8132.32,8.3974,0.03,392,2388,100.0,39.10,23.3774
7,1,8,-0.0034,0.0003,100.0,518.67,642.56,1582.96,1400.97,14.62,...,522.47,2388.03,8131.07,8.4076,0.03,391,2388,100.0,38.97,23.3106
8,1,9,0.0008,0.0001,100.0,518.67,642.12,1590.98,1394.80,14.62,...,521.79,2388.05,8125.69,8.3728,0.03,392,2388,100.0,39.05,23.4066
9,1,10,-0.0033,0.0001,100.0,518.67,641.71,1591.24,1400.46,14.62,...,521.79,2388.06,8129.38,8.4286,0.03,393,2388,100.0,38.95,23.4694

In [ ]:
df.shape

(20631, 26)

In [ ]:
lifetimes = df.groupby("unit_id")["cycle"].max()
lifetimes.describe()

count    100.000000
mean     206.310000
std       46.342749
min      128.000000
25%      177.000000
50%      199.000000
75%      229.250000
max      362.000000
Name: cycle, dtype: float64

In [ ]:
# Initial condition snapshot (cycle 1)
initial_df = df[df["cycle"] == 1]

initial_df.head()

,unit_id,cycle,op1,op2,op3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
192,2,1,-0.0018,0.0006,100.0,518.67,641.89,1583.84,1391.28,14.62,...,522.33,2388.06,8137.72,8.3905,0.03,391,2388,100.0,38.94,23.4585
479,3,1,0.0008,0.0005,100.0,518.67,642.04,1584.20,1398.13,14.62,...,522.24,2388.00,8138.40,8.4207,0.03,391,2388,100.0,38.96,23.3205
658,4,1,0.0025,0.0005,100.0,518.67,642.60,1585.40,1402.85,14.62,...,521.94,2388.07,8131.50,8.4200,0.03,393,2388,100.0,39.04,23.3814
847,5,1,0.0031,0.0002,100.0,518.67,641.77,1583.59,1395.26,14.62,...,522.34,2388.00,8152.22,8.4102,0.03,393,2388,100.0,38.98,23.4468

In [18]:
sensor_cols = ["s2", "s7", "s11", "s14"]
initial_df[sensor_cols].describe()

               s2          s7         s11          s14
count  100.000000  100.000000  100.000000   100.000000
mean   642.397200  553.996100   47.342800  8137.428000
std      0.358096    0.653956    0.189753     8.189765
min    641.450000  552.310000   46.930000  8116.860000
25%    642.180000  553.557500   47.190000  8131.447500
50%    642.375000  554.025000   47.360000  8138.130000
75%    642.642500  554.412500   47.475000  8143.650000
max    643.410000  555.370000   47.700000  8153.890000